<label class="search-label">Search Heroes : </label>

<div class="row" style="margin-left: 15px;">

  <div class="col-md-10">
    <mat-form-field appearance="outline">
      <mat-label>Search Value</mat-label>
      <input matInput #inputSearch>
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="searchFilter()" class="btn-search">
      <mat-icon [inline]="true">search</mat-icon>
    </button>

  </div>
  <div class="col-md-2">
    <button mat-raised-button color="accent" (click)="resetDataTable()" class="btn-reset">
      <mat-icon [inline]="true">refresh</mat-icon>
    </button>
  </div>

</div>

<h3 class="heading">Top Heroes</h3>

<div *ngIf="noDataFound" class="col-md-12 card">There is No Data Matching</div>

<mat-grid-list cols="10" class="grid-details">

  <a *ngFor="let hero of data" routerLink="/detail/{{hero.id}}">
    <mat-grid-tile>
      <div class="module hero">
        <h4>{{hero.hero_name}}</h4>
      </div>
    </mat-grid-tile>
  </a>

</mat-grid-list>