<h1 *ngIf="isAddMode" style="margin-left: 30px;">Add Hero</h1>
<h1 *ngIf="!isAddMode" style="margin-left: 30px;">Edit Hero</h1>
<div>

  <form [formGroup]="updateHeroForm" (ngSubmit)="onSubmit()">
    <div class="row form-container">

      <div class="col-md-2">
        <mat-form-field appearance="outline">
          <mat-label>Hero Name</mat-label>
          <input matInput  formControlName="heroFirstName">
          <mat-error *ngIf="updateHeroForm.get('heroFirstName').hasError('required')">
            First Name is required
          </mat-error>
          <mat-error *ngIf="updateHeroForm.get('heroFirstName').hasError('minlength')">
            Min Length is 3
          </mat-error>
          <mat-error *ngIf="updateHeroForm.get('heroFirstName').hasError('pattern')">
            Only Alphabets Are Allowed
          </mat-error>
        </mat-form-field>

      </div>


      <div class="col-md-2">
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput  formControlName="heroLastName">
          <mat-error *ngIf="updateHeroForm.get('heroLastName').hasError('required')">
            Last Name is required
          </mat-error>
          <mat-error *ngIf="updateHeroForm.get('heroLastName').hasError('minlength')">
            Min Length is 3
          </mat-error>
          <mat-error *ngIf="updateHeroForm.get('heroLastName').hasError('pattern')">
            Only Alphabets Are Allowed
          </mat-error>
        </mat-form-field>

      </div>

      <div class="col-md-2">
        <mat-form-field appearance="outline">
          <mat-label>Nick Name</mat-label>
          <input matInput formControlName="heroNickName">
          <mat-error *ngIf="updateHeroForm.get('heroNickName').hasError('required')">
            Nick Name is required
          </mat-error>
          <mat-error *ngIf="updateHeroForm.get('heroNickName').hasError('minlength')">
            Min Length is 3
          </mat-error>
          <mat-error *ngIf="updateHeroForm.get('heroNickName').hasError('pattern')">
            Only Alphabets Are Allowed
          </mat-error>
        </mat-form-field>

      </div>
    </div>

    <div class="btn-details">
      <button mat-raised-button color="accent" [disabled]="!updateHeroForm.valid" type="submit">
        Save <mat-icon>save</mat-icon>
      </button>
      <button mat-raised-button color="accent" (click)="goBack()">
        GO BACK<mat-icon>keyboard_backspace</mat-icon>
      </button>

    </div>
  </form>


</div>