<!-- <h1 mat-dialog-title class="title">{{data.title}}</h1>
<div mat-dialog-content class="content">
    {{data.message}}
</div>
<div class="row" style="margin-top: 25px;">
    <div class="col-md-6" style="padding-left: 0px;padding-right: 0px;">
        <button style="margin:0px 10px;" mat-raised-button color="accent" [mat-dialog-close]="true" class="btn-confirm">Confirm</button>
    </div>
    <div class="col-md-6" style="padding-left: 0px;padding-right: 0px;">
        <button mat-raised-button color="basic" [mat-dialog-close]="false" class="btn-cancel">Cancel</button>
    </div>
</div> -->

<h1 mat-dialog-title style="margin-left: 20px;">
    {{data.title}}
</h1>

<div mat-dialog-content style="margin-left: 0px;">
    <p>{{data.message}}</p>
</div>

<div mat-dialog-actions style="justify-content: center;">
    <button style="margin:0px 10px;" mat-raised-button color="accent" [mat-dialog-close]="true" class="btn-confirm">Confirm</button>
    <button mat-raised-button color="basic" [mat-dialog-close]="false" class="btn-cancel">Cancel</button>
</div>