/* .title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 23px;
}

.content {
    margin-left: -2px;
    margin-bottom: -13px;
    font-size: 15px;
} */

.btn-confirm {
    border-radius: 0px;
}

.btn-cancel {
    border-radius: 0px;
}