<h1 mat-dialog-title *ngIf="isAddMode" style="margin-left: 30px;margin-top:0px;font-weight: bold;color:#FF4081;">Add Category
    <button type="button" (click)="onNoClick()" class="btn-back"><mat-icon>cancel</mat-icon></button>
</h1>
<h1 mat-dialog-title *ngIf="!isAddMode" style="margin-left: 30px;margin-top:0px;font-weight: bold;color:#FF4081;">Edit Category
    <button type="button" (click)="onNoClick()" class="btn-back"><mat-icon>cancel</mat-icon></button></h1>
<div>

    <form class="mat-dialog-content" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <div class="row form-container">

            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>Category Name</mat-label>
                    <input matInput formControlName="categoryName" placeholder="Enter Category Name" autocomplete="off">
                    <mat-error *ngIf="categoryForm.get('categoryName').hasError('required')">
                        Category Name is required
                    </mat-error>
                    <mat-error *ngIf="categoryForm.get('categoryName').hasError('minlength')">
                        Min Length is 3
                    </mat-error>
                    <mat-error *ngIf="categoryForm.get('categoryName').hasError('pattern')">
                        Only Alphabets Are Allowed
                    </mat-error>
                </mat-form-field>

            </div>

        </div>

        <div mat-dialog-actions>
            <div class="btn-details">
                <button mat-raised-button color="accent" [mat-dialog-close]="1" [disabled]="!categoryForm.valid" type="submit">
        Save <mat-icon>save</mat-icon>
      </button>


            </div>
        </div>
    </form>

</div>