<h1 mat-dialog-title class="add-edit-heading">
    {{isAddMode === true ? 'Add Category' : 'Edit Category'}}
    <button type="button" (click)="onNoClick()" class="btn-back">
        <mat-icon>cancel</mat-icon>
    </button>
</h1>
<div>

    <form class="mat-dialog-content" [formGroup]="categoryForm">
        <div class="row form-container">

            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>Category Name</mat-label>
                    <input autoFocus trim matInput formControlName="categoryName" placeholder="Enter Category Name" autocomplete="off">
                    <mat-error *ngIf="categoryForm.get('categoryName').hasError('required')">
                        Category Name is required
                    </mat-error>
                    <mat-error *ngIf="categoryForm.get('categoryName').hasError('minlength')">
                        Min Length is 3
                    </mat-error>
                    <mat-error *ngIf="categoryForm.get('categoryName').hasError('pattern')">
                        Only alphabets are allowed
                    </mat-error>
                </mat-form-field>

            </div>

        </div>

        <div mat-dialog-actions>
            <div class="btn-details">
                <button mat-raised-button color="accent" [disabled]="!categoryForm.valid" (click)="onSubmit()" type="submit">
                    Save 
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>