<mat-toolbar color="primary">
    <h1 class="heading">{{title}}</h1>

    <button mat-raised-button color="accent" routerLink="/dashboard" class="btn-dashboard" *ngIf="isLoggedIn">
        Product  
        <mat-icon [inline]="true">home</mat-icon>
    </button>
    <button mat-raised-button color="accent" routerLink="/calender" class="btn-dashboard" *ngIf="isLoggedIn">
        Calender 
        <mat-icon [inline]="true">calendar_today</mat-icon>
    </button>
    <button mat-raised-button color="accent" routerLink="/calender-list" class="btn-dashboard" *ngIf="isLoggedIn">
        Event  
        <mat-icon [inline]="true"> format_list_bulleted</mat-icon>
    </button>
    <button mat-raised-button color="accent" routerLink="/user-register" class="btn-dashboard" *ngIf="isLoggedIn">
        User  
        <mat-icon [inline]="true"> format_list_bulleted</mat-icon>
    </button>

    <!-- <button style="margin-left: 25px;" *ngIf='!isLoggedIn' mat-raised-button color='accent' routerLink="/login" (notify)="getData($event)">Login</button> -->
    <div *ngIf="isLoggedIn" style="margin-left: 250px;">
        <label style="margin-right: 15px;">Welcome {{userName  | uppercase }}</label>
        <button mat-raised-button color='accent' (click)="logOut()">Log Out</button>
    </div>

</mat-toolbar>

<router-outlet></router-outlet>
<app-my-loader></app-my-loader>