<mat-toolbar color="primary">
    <h1 class="heading">{{title}}</h1>

    <button mat-raised-button color="accent" routerLink="/dashboard" class="btn-dashboard">
        Product Dashboard 
        <mat-icon [inline]="true">home</mat-icon>
    </button>
    <button mat-raised-button color="accent" routerLink="/calender" class="btn-dashboard">
        Calender Dashboard
        <mat-icon [inline]="true">calendar_today</mat-icon>
    </button>
    <button mat-raised-button color="accent" routerLink="/calender-list" class="btn-dashboard">
        Event Dashboard 
        <mat-icon [inline]="true"> format_list_bulleted</mat-icon>
    </button>
    <button mat-raised-button color="accent" routerLink="/user-register" class="btn-dashboard">
        User Dashboard 
        <mat-icon [inline]="true"> format_list_bulleted</mat-icon>
    </button>

</mat-toolbar>

<router-outlet></router-outlet>