<mat-toolbar color="primary">
    <h1 class="heading">{{title}}</h1>

    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="/dashboard" class="btn-dashboard">Product/Category Dashboard <mat-icon [inline]="true">home</mat-icon></button>
    <button mat-raised-button color="accent" routerLink="/calender" style="margin-left: 25px;">Calender <mat-icon [inline]="true">calendar_today</mat-icon></button>
    <button mat-raised-button color="accent" routerLink="/calender-list" style="margin-left: 25px;">Event List <mat-icon [inline]="true"> format_list_bulleted</mat-icon></button>

</mat-toolbar>

<router-outlet></router-outlet>