<form [formGroup]="addHeroForm" (ngSubmit)="onSubmit()">
  <div class="row form-container">
    <div class="col-md-2">

      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Hero First Name</mat-label>
          <input matInput formControlName="firstName">
          <mat-error *ngIf="addHeroForm.get('firstName').hasError('required')">
            First Name is required
          </mat-error>
          <mat-error *ngIf="addHeroForm.get('firstName').hasError('minlength')">
            Min Length is 3
          </mat-error>
          <mat-error *ngIf="addHeroForm.get('firstName').hasError('pattern')">
            Only Alphabets Are Allowed
          </mat-error>
        </mat-form-field>

      </div>



    </div>


    <div class="col-md-2">
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName">
          <mat-error *ngIf="addHeroForm.get('lastName').hasError('required')">
            Last Name is required
          </mat-error>
          <mat-error *ngIf="addHeroForm.get('lastName').hasError('minlength')">
            Min Length is 3
          </mat-error>
          <mat-error *ngIf="addHeroForm.get('lastName').hasError('pattern')">
            Only Alphabets Are Allowed
          </mat-error>
        </mat-form-field>

      </div>
    </div>


    <div class="col-md-2">
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Nick Name</mat-label>
          <input matInput formControlName="nickName">
          <mat-error *ngIf="addHeroForm.get('nickName').hasError('required')">
            Nick Name is required
          </mat-error>
          <mat-error *ngIf="addHeroForm.get('nickName').hasError('minlength')">
            Min Length is 3
          </mat-error>
          <mat-error *ngIf="addHeroForm.get('nickName').hasError('pattern')">
            Only Alphabets Are Allowed
          </mat-error>
        </mat-form-field>

      </div>
    </div>


    <div class="col-md-3">
      <button mat-raised-button color="accent" [disabled]="!addHeroForm.valid" type="submit" class="btn btn-primary"
        style="margin-top: 10px;">Submit <mat-icon>save</mat-icon></button>
    </div>
  </div>
</form>