<h1 mat-dialog-title class="heading">
    {{isAddMode === true ? 'Add Event' : 'Edit Event'}}
    <button type="button" (click)="onNoClick()" class="btn-back">
        <mat-icon>cancel</mat-icon>
    </button>
</h1>

<div>
    <form mat-dialog-content [formGroup]="eventForm">
        <div class="row form-container">
            <div class="col-md-6">
                <mat-form-field appearance="outline" style="width: 85% !important;">
                    <mat-label>Event Name</mat-label>
                    <input matInput formControlName="subject" placeholder="Enter Event Name">
                    <mat-error *ngIf="eventForm.get('subject').hasError('required')">
                        Event Name is required
                    </mat-error>
                    <mat-error *ngIf="eventForm.get('subject').hasError('pattern')">
                        Enter Valid Text
                    </mat-error>
                    <mat-error *ngIf="eventForm.get('subject').hasError('minlength')">
                        Min length is 3
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" style="width: 85% !important;">
                    <mat-label>Event Description</mat-label>
                    <input matInput formControlName="description" placeholder="Enter Event Description">
                    <mat-error *ngIf="eventForm.get('description').hasError('required')">
                        Event Description is required
                    </mat-error>
                    <mat-error *ngIf="eventForm.get('description').hasError('pattern')">
                        Enter Valid Text
                    </mat-error>
                    <mat-error *ngIf="eventForm.get('description').hasError('minlength')">
                        Min length is 5
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" style="width: 85% !important;">
                    <mat-label>Start Date</mat-label>
                    <input matInput formControlName="startDate" [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="eventForm.get('startDate').hasError('required')">
                        Event Start Date is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" style="width: 85% !important;">
                    <mat-label>End Date</mat-label>
                    <input matInput formControlName="endDate" [matDatepicker]="picker2">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error *ngIf="eventForm.get('endDate').hasError('required')">
                        Event End Date is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" style="width: 85% !important;">
                    <mat-label>Choose Start Time</mat-label>
                    <input matInput [(ngModel)]="startTimeValue" placeholder="Enter Event Start Time" [ngxTimepicker]="start" formControlName="startTime">
                    <ngx-material-timepicker #start></ngx-material-timepicker>
                    <mat-error *ngIf="eventForm.get('startTime').hasError('required')">
                        Event Start Time is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" style="width: 85% !important;">
                    <mat-label>Choose End Time</mat-label>
                    <input matInput [(ngModel)]="endTimeValue" placeholder="Enter Event End Time" [ngxTimepicker]="end" formControlName="EndTime">
                    <ngx-material-timepicker #end></ngx-material-timepicker>
                    <mat-error *ngIf="eventForm.get('EndTime').hasError('required')">
                        Event End Time is required
                    </mat-error>
                </mat-form-field>
            </div>

            <mat-dialog-actions align="start">
                <button mat-raised-button (click)="onSubmit()" color="accent" [disabled]="!eventForm.valid" type="submit">
                    Save Details
                </button>
            </mat-dialog-actions>
        </div>
    </form>
</div>