<h1 mat-dialog-title class="heading">
    {{ isAddMode === true ? 'Add Product' : 'Edit Product'}}
    <button type="button" (click)="onNoClick()" class="btn-back">
        <mat-icon [inline]="true">cancel</mat-icon>
    </button>
</h1>

<div>

    <form [formGroup]="productForm" class="mat-dialog-content">
        <div class="row form-container">

            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Product Name</mat-label>
                    <input autoFocus trim matInput formControlName="productName" placeholder="Enter Product Name" autocomplete="off">
                    <mat-error *ngIf="productForm.get('productName').hasError('required')">
                        Product Name is required
                    </mat-error>
                    <mat-error *ngIf="productForm.get('productName').hasError('minlength')">
                        Min Length is 3
                    </mat-error>
                    <mat-error *ngIf="productForm.get('productName').hasError('pattern')">
                        Please enter valid text
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Product Price</mat-label>
                    <input trim matInput formControlName="productPrice" placeholder="Enter Product Price" autocomplete="off">
                    <mat-error *ngIf="productForm.get('productPrice').hasError('required')">
                        Product price is required
                    </mat-error>
                    <mat-error *ngIf="productForm.get('productPrice').hasError('pattern')">
                        Only numbers are allowed
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field *ngIf="categoryData" appearance="outline">
                    <mat-select formControlName="productCategory" placeholder="Select 
                 Category" [(ngModel)]="selectedValue" (change)="changeSelect($event.value)">
                        <mat-option *ngFor="let category of categoryData" [value]="category.id">
                            {{category.categoryName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="productForm.get('productCategory').hasError('required')">
                        Product Category is required
                    </mat-error>
                </mat-form-field>
            </div>

        </div>
        <div mat-dialog-actions>
            <div class="btn-details">
                <button mat-raised-button color="accent" [disabled]="!productForm.valid" type="submit" (click)="onSubmit()">
                    Save <mat-icon>save</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>