/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    margin-left: 25px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

.mat-dialog-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
    min-width: 400px !important;
    min-height: 175px !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}