.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
}

.mat-toolbar-single-row button {
    width: 200px;
}

.mat-form-field {
    width: 100%;
}

#uploadFile {
    top: 250px;
    left: 20px;
    z-index: 9;
    opacity: 0;
    cursor: pointer;
    position: absolute;
}

.mat-toolbar .mat-input-element {
    font-size: 13px !important;
    margin-right: 70px;
}