<div id="search-component">

  <div class="search-input">
    <form>
      <label class="search-label">Search Heroes : </label>
      <mat-form-field appearance="outline">
        <mat-label>Search Hero Name </mat-label>
        <input matInput #searchBox id="search-box" (input)="search()" autocomplete="off" >
      </mat-form-field>
    </form>

  </div>


  <div class="search-result-container">
    <div *ngFor="let hero of heroes$ | async" class="search-result">
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
    </div>
  </div>



</div>


<!-- <form>
  <mat-form-field>
      <input #searchBox matInput placeholder="Search" (keyup)="search(searchBox.value)" name="search">
  </mat-form-field>
</form>
<div class="search-result-container">
  <div *ngFor="let hero of heroes | async" (click)="gotoDetail(hero)" class="search-result">
      {{hero.name}}
  </div>
</div> -->