/* HeroSearch private styles */
.hero-search-detail {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 200px;
  height: 25px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}

  .hero-search-detail:hover {
    background-color: #607D8B;
  }

  .hero-search-detail a {
    color: #888;
    display: block;
    text-decoration: none;
  }

    .hero-search-detail a:hover {
      color: white;
    }

    .hero-search-detail a:active {
      color: white;
    }

#search-box {
  width: 200px;
  height: 20px;
}


ul.search-result {
  margin-top: 0;
  padding-left: 0;
}

.heading {
  margin-left: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
}

.search-input {
  margin-left: 25px;
}

.search-result {
  margin-left: 25px;
}

.mat-list-item {
  width: 15% !important;
}
.search-result-container {
  position: absolute;
  margin-left: 155px;
    margin-top: -22px;
}

.search-result {
  width: 195px;
  padding: 16px;
  background-color: white;
  cursor: pointer;
  color: black;
  position: relative;
  z-index: 2;
  font-size: 16px;
  line-height: 16px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.search-result:hover {
  background-color: lightgray;
}

.search-label{
  margin-right: 25px;
  font-size: 18px;
  font-weight: bold;
}
a:hover{
  text-decoration: none;
  color: #FF1493;
}