html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
    min-width: 400px !important;
    min-height: 125px !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.mat-tab-label-container {
    border-bottom: 2px solid blue;
}

button:focus {
    outline: none !important;
}

.mat-tab-label .mat-tab-label-content {
    font-size: 18px;
    font-weight: bold;
    color: black !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: gray;
}

.mat-option:hover {
    background: lightblue !important;
    color: black !important;
}