@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-schedule/styles/material.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
    min-width: 400px !important;
    min-height: 350px !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.mat-tab-label-container {
    border-bottom: 2px solid blue;
}

button:focus {
    outline: none !important;
}

.mat-tab-label .mat-tab-label-content {
    font-size: 18px;
    font-weight: bold;
    color: black !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: gray;
}

.mat-option:hover {
    background: lightblue !important;
    color: black !important;
}

.e-title-text {
    font-size: 25px !important;
}

.e-time-zone-container,
.e-location-container {
    display: none;
}

.e-location-container {
    width: 100% !important;
    margin-bottom: 10px;
    margin-left: -8px;
}

.e-end-container {
    width: 100% !important;
    margin-top: 25px;
    margin-left: -8px;
}

.e-subject-container,
.e-start-container {
    width: 100% !important;
    margin-bottom: 10px;
    margin-left: 0px;
}

.e-tooltip-wrap.e-schedule-error {
    background-color: white;
    border-color: white;
    z-index: 1000;
    left: 10px !important;
}

.e-tooltip-wrap.e-schedule-error .e-tip-content,
.e-tooltip-wrap.e-schedule-error .e-tip-content label {
    color: red;
}

.e-tooltip-wrap.e-schedule-error .e-arrow-tip.e-tip-top {
    display: none;
}

.e-schedule-dialog .e-title-location-row,
.e-schedule-dialog .e-start-end-row {
    display: block;
    width: 100%;
}

.e-schedule .e-month-view .e-work-cells,
.e-schedule .e-month-agenda-view .e-work-cells {
    height: 100px !important;
    width: 120px !important;
}

.e-schedule-dialog .e-title-location-row,
.e-schedule-dialog .e-start-end-row,
.e-schedule-dialog .e-start-input-container,
.e-schedule-dialog .e-end-input-container {
    padding-bottom: 30px;
}

.e-popup.e-popup-open.e-dialog {
    min-height: 575px !important;
}

.timepicker-overlay {
    z-index: 1100 !important;
}

.timepicker-backdrop-overlay {
    z-index: 1100 !important;
}

.snackbar-style {
    background: #3F51B5;
    color: white;
}

.mat-simple-snackbar-action {
    color: darkpink !important;
    background: white;
}

.error-snackbar-style {
    background: red;
    color: white;
}

.stepper-container {
    margin-top: 50px !important;
    margin: 0 auto;
    width: 50%;
    height: auto;
    border: 0.5px solid black;
    box-shadow: 1px 1px 1px 1px #888888;
}

.mat-horizontal-stepper-header {
    pointer-events: none !important;
    margin: 0 auto;
}

.mat-stepper-horizontal-line {
    display: none;
}

#inner .mat-horizontal-stepper-header-container {
    display: none !important;
}

#innerstepper .mat-horizontal-stepper-header-container {
    display: none !important;
}

#innerstepper1 .mat-horizontal-stepper-header-container {
    display: none !important;
}

.register-container {
    margin: 0 auto;
    width: 25%;
    margin-top: 30px;
}

button {
    border-radius: 0px !important;
}