.title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 121px;
}

.content {
    margin-left: 15px;
    margin-bottom: -13px;
    font-size: 15px;
}

.btn-confirm {
    padding: 5px 75px 5px 75px;
    left: 5px;
    top: 25px;
}

.btn-cancel {
    padding: 5px 78px 5px 79px;
    left: 0px;
    top: 25px;
}